<li>
    {{name}}

    <button class="change-need" data-id="{{id}}" data-newNeed="{{need}}">
        {{#if need}}Bought!{{else}}Buy More!{{/if}}
    </button>

    <button class="delete-item" data-id="{{this.id}}">DELETE!</button>
</li>